*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    height: 25vh;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

select{
    padding: 0.3rem;
}

.navigation{
    background: black;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo{
    height: 10rem;
}

a{
    text-decoration: none;
}

.nav-p{
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    cursor: pointer;
}

.nav-p:hover{
    border-bottom: 1px solid rgb(206, 11, 11);
    color: rgb(206, 11, 11);
}

.search-btn{
    padding: 0.2rem;
    border: none;
    border-radius: 0.3rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0.5rem;
}

.logo{
    cursor: pointer;
}

.radio-label{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 0.5rem;
}

.filter-label{
    color: white;
    padding-right: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.select-btn{
    font-family: 'Courier New', Courier, monospace;

}

.javascript-navigation{
    background: black;
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.search-container{
    display: flex;
    padding: 0.5rem;
    background: black;
    border: 1px solid white;
    border-radius: 0.5rem;
}

.search-icon{
    color: white;
}

.search-box{
    border: none;
    border-right: 1px solid white;
    background: black;
}

.search-box::placeholder{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.search-icon{
    pointer-events: none;
    font-size: 1.5rem;
    padding: 0.5;
    margin-left: 0.6rem;
}



#searchFilter{
    cursor: pointer;
}

.card{
    min-height: 30vh;
    width: 18vw;
    margin: 1rem;
}

.outer-card{
    background: black;
    padding-left: 10rem;
    padding-right: 10rem;
    overflow-y: hidden;
    
}

@media only screen and (max-width: 600px){
    .outer-card{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
@media only screen and (max-width: 973px){
    .outer-card{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.cardContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
    overflow-y: hidden;
}

.card-img-top{
    min-height: 30vh;
}


.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-weight: 650;   
}

.card-date{
    font-size: 1.1rem;
    font-weight: 600;
}

.modal-header__title{
    padding-right: 1rem;
}

.objectArrayModalImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-primary{
    background: rgb(206, 11, 11);
    border: none;
}

.btn-primary:hover{
    background: rgb(126, 6, 6);
}



.footer-section{
    height: 30vh;
    width: 100vw;
    background: rgb(24, 24, 24);

}