*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.search-container{
    display: flex;
    padding: 1rem;
}

.search-icon{
    pointer-events: none;
    font-size: 1.5rem;
    padding: 0.5;
}

#searchFilter{
    cursor: pointer;
}

.card{
    min-height: 30vh;
    width: 18vw;
}

.cardContent{
    display: flex;
    flex-wrap: wrap;
}

